.card {
  background: #f7fafc;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.status {
  font-weight: bold;
}

.buttons {
  margin-top: 10px;
}

.edit {
  background: #48bb78;
  color: white;
  border: none;
  padding: 6px 10px;
  margin-right: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.delete {
  background: #f56565;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}